.gallery{
	width: 95%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 3px;
}

.gallery img{
	width: 100%;
}

.item{
	border: 2px solid black;
}

h1, button{
    font-family: monospace;
}
